.modal-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  width: 50%;
  height: 50%;
  padding: 0 15px;
  background-color: whitesmoke;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper,
.input-wrapper {
  width: 100%;
  display: flex;
}

.button-wrapper {
  height: 10%;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
  height: 80%;
  margin: 10px 0;
  flex-direction: column;
}

input,
textarea {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

input {
  height: 5%;
}

textarea {
  height: 85%;
  resize: none;
}

button {
  width: 100px;
  height: 35px;
  background-color: rgb(217, 217, 248);
  border: solid 2px rgb(193, 193, 248);
  cursor: pointer;
}

button:hover {
  background-color: white;
}
