.post-container {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.button-wrapper,
.input-wrapper {
  width: 100%;
  display: flex;
}

.button-wrapper {
  height: 10%;
  justify-content: flex-start;
  align-items: center;
}

.input-wrapper {
  height: 80%;
  flex-direction: column;
}

.post-title,
.post-input {
  margin: 10px 0;
}

.post-title {
  height: 10%;
  overflow: hidden;
}

input,
textarea {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
}

input {
  height: 5%;
}

textarea {
  height: 85%;
  resize: none;
}

.bottom {
  justify-content: space-between;
}

button {
  width: 100px;
  height: 35px;
  background-color: rgb(217, 217, 248);
  border: solid 2px rgb(193, 193, 248);
  cursor: pointer;
}

button:hover {
  background-color: white;
}

.delete-button {
  background-color: rgb(255, 163, 163);
  border-color: rgb(252, 134, 134);
}
