<div class="post-container">
  <div class="wrapper">
    <div class="button-wrapper">
      <button (click)="back()">Назад</button>
    </div>
    <div class="input-wrapper">
      <h3 class="post-title">Запись "{{ post.title || 'Новый пост' }}"</h3>
      <input
        class="post-input"
        placeholder="Заголовок"
        [(ngModel)]="post.title"
        [value]="post.title"
      />
      <textarea class="post-input" placeholder="Текст" [(ngModel)]="post.text">
        {{ post.text }}
      </textarea>
    </div>
    <div class="button-wrapper bottom">
      <button (click)="delete()" [disabled]="isNewPost">Удалить</button>
      <button (click)="save()">Сохранить</button>
    </div>
  </div>
</div>
