<div class="container">
  <div class="wrapper">
    <div class="button-section">
      <button (click)="back()">Назад</button>
    </div>
    <div class="input-section">
      <h3 class="title">Запись "{{ post.title || 'Новый пост' }}"</h3>
      <input
        class="input"
        placeholder="Заголовок"
        [(ngModel)]="post.title"
        [value]="post.title"
      />
      <textarea class="input" placeholder="Текст" [(ngModel)]="post.text">
        {{ post.text }}
      </textarea>
    </div>
    <div class="section button-section bottom">
      <button (click)="delete()" [disabled]="isNewPost">Удалить</button>
      <button (click)="save()">Сохранить</button>
    </div>
  </div>
</div>
